
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*{
    padding: 0;
    margin: 0;
    background-color: #fff;
}
html {
    font-family: "Bodoni Moda", serif;
    font-family: "Nunito", sans-serif;
  }
.main-nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navigationlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.nav{
    margin-left: 30px;
    margin-top: 5px;
}

.nav a{
    text-decoration: none;
    color:  hsl(219, 9%, 45%);
    padding: 10px;
}
.navborder {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navborder hr{
    background-color: grey;
    opacity: .1;
    height: 1px;
    width: 72%;
}
.useraccount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.useraccount img{
    margin-right: 30px;
    padding: 2px;
}
.main-content{
    height: 100vh;
}
.main-body{
    margin: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}
.main-image img{
   width: 280px;
   height: 300px;
   border-radius: 5%;
}
.product-images{
    display: grid;
    grid-template-rows: repeat(2 1fr);
    justify-content: center;
    align-items: center;
    
}
.extraimages{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    
}
.extraimages img{
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 10px;
    border-radius: 5px;
}
.imageselect{
    border: 2px solid hsl(26, 100%, 55%);
    opacity: .7;
}
.section2{
    width: 40%;
    /* border: 2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;
    display: grid;
    
}
.section2 h5{
    color: hsl(26, 100%, 55%);
    margin-bottom: 10px;
    font-family: 'Segoe UI', Courier, Geneva, Verdana, sans-serif;
}
.section2 h3{
    font-family: 'Segoe UI', Courier, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.section2 p{
    font-family: 'Segoe UI', Courier, monospace;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 10px;

}
.price{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-weight: 900;
}
.price span{
    font-size: 15px;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 800;
}
.oldprice{
     size: 10px;
     color: hsl(220, 13%, 13%);
     opacity: .6;
     font-weight: 800;
}
tr{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
}
td{
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsl(223, 64%, 98%);
    margin-left: 25px;
    cursor: pointer;
}

.card-footer{
    margin-top: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start
}

.btn{
    margin-left: 10%;
     border: none;
     color: white;
     border-radius: 10px;
     background-color: hsl(26, 100%, 55%);
     padding: 15px;
     width: 180px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     
}
.btn img{
    background-color: hsl(26, 100%, 55%) ;
    color: white;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    
}